.myTopics{
  background-image: linear-gradient(#eecda3, #ef629f);

    text-align: left;
    border: 5px outset red
  }

.footer {

  background-color: black;
    text-align: left;
    border: 5px outset red;

}

a:visited{
  color:blue

}

a:link{
  color:white;

}